<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <template id="collapse_menu" name="Collapse Menu">
        <img class="ico-menu" src="/maas_website/static/src/img/ico-menu.png"/>
        <div class="col-md-2" id="collapse_menu" style="display:none">
            <img class="ico-back-menu" src="/maas_website/static/src/img/ico-back.png"/>
            <ul class="list-menu">
                <li>
                    <a class="link-menu home-menu" href="/home">Home Page</a>
                </li>
                <li>
                    <a class="link-menu campagne-menu" href="/operation/list">Campaigns</a>
                </li>
                <li>
                    <a class="link-menu link-br creation-menu" href="/operation/create">Operation <br/>
                        creation</a>
                </li>
                <li>
                    <a class="link-menu contact-menu" href="/operation/contact">Contact</a>
                </li>
            </ul>
        </div>
    </template>

</odoo>